body,
html {
    margin: 0;
    padding: 0;
    background-color: #dfc5fe;
    text-align: center;
}

h1 {

    font-size: 2.5rem;
    font-family: "Besley", serif;
    font-optical-sizing: auto;
    font-weight: 800px;
    font-style: normal;
    margin-bottom: 10px;
}

.container {
    height: 70vh;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    align-items: center;

}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vmin;
    width: 18vmin;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 6px;
    font-size: 5rem;
}

#btn-restart {
    padding: 15px 20px;
    color: black;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.2s;
}

#btn-restart:hover {
    background-color: #eeebf1;
}

#btn-new {
    padding: 15px 20px;
    color: black;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: 0.2s;
}

#btn-new:hover {
    background-color: #eeebf1;
}

#msg {
    color: #0F1035;
    font-size: 3rem;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hide {
    display: none;
}